body{
	background-color: rgb(255, 248, 220);
	margin: 0px;
}

nav{
	background-color: red;
	border: none;
}

nav li:hover{
	background-color: black;
}

nav ul li{
	list-style: none;
}

a{
	text-decoration: none;
	color: white;
}

#name{
	color: purple;
	margin: 0px;
	font-size: 45px;
	text-align: center;

}
#niche{
	color: green;
	margin: 0px;
	font-size: 33px;
	text-align: center;
}

header{
	margin: 0px;
	padding: 0px;
	border: none;
}
ul{
	margin: 0px;
	display:flex;
	justify-content: flex-end;
}
ul li{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

