h1 {
  color: rgb(227, 227, 220);
}

h2 {
  color: var(--primary-colour);
}

header {
  display: flex;
  justify-content: center;
  gap: 20px;
}

p {
  color: rgb(227, 227, 220);
  text-align: left;
  max-width: 60ch;
  margin: 30px auto;
}

#personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

#socials {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  gap: 20px;
}

#socials a {
  color: rgb(227, 227, 220);
}

#socials a:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--primary-colour);
  text-decoration-thickness: 3px;
}

#picture {
  width: 150px;
  height: 150px;
  border-radius: 80px;
}

@media (max-width: 768px) {
  main {
    width: 90%;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  #info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
