:root {
  --post-title-colour: hsl(175, 65%, 72%);
}

a {
  color: var(
    --primary-colour
  ); /* All inline links should have the same colour */
}

strong {
  color: #8f96d8;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: var(--primary-colour);
  grid-column: 2;
  justify-self: center;
}

#home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#home-header nav a {
  color: #b4cae0;
}

#home-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.post-title {
  color: var(--post-title-colour);
}
