a {
  color: hsl(160, 60%, 55%); /* All inline links should have the same colour */
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: var(--primary-colour);
  grid-column: 2;
  justify-self: center;
}

#home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#home-header nav a {
  color: #b4cae0;
}

#home-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}
