nav {
  display: flex;
  gap: 20px;
  padding: 10px;
}

nav a {
  display: flex;
  align-items: center;
  color: var(--nav-link-colour);
  font-size: 1rem;
}

#home-link {
  color: var(--primary-colour);
  font-size: 1.24rem;
}

#social-links {
  display: flex;
  gap: 10px;
  padding: 0;
  align-items: center;
  flex-shrink: 0;
}

#picture {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

svg {
  height: 22px;
  width: 22px;
  color: var(--icon-fg-colour);
  align-items: baseline;
}

#theme-toggle {
	margin-left: auto;
  background: none;
  border: none;
}

header {
  display: flex;
  padding: 0 20px;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
