#content-container {
  width: 50%;
}

#post header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#post h3,
h4,
h5,
h6 {
  color: hsl(260, 70%, 68%);
}

#post p {
  color: rgb(227, 227, 220);
  hyphens: auto;
  overflow-wrap: break-word;
}

#post li {
  color: rgb(227, 227, 220);
}

#post li::marker {
  color: hsl(24, 85%, 72%);
}

.post-title {
  text-align: center;
}

#post-preview-time-data {
  display: flex;
}

#post-preview-time-data time,
#post-preview-time-data .separator {
  color: #999;
}

.separator {
  margin: 0 10px;
}

@media (max-width: 1000px) {
  #content-container {
    width: 90%;
  }
}
