<main id="content-container">
  <header>
    <p id="blog-description">
      Hi there! Welcome to my collection of thoughts and ideas for all my
      tech-related interests. I hope you either have fun or find some valuable
      information here :D<br /><br />For more information on this blog, check my
      <a href="/blog/posts/hello_blog">first post</a> explaining the ideas
      behind it.
    </p>
  </header>
  <section id="post-preview-container" aria-label="Latest blog posts">
    {content}
  </section>
</main>
