#content-container {
  width: 50%;
}

#blog-description {
  margin: 0;
  color: rgb(227, 227, 220);
  hyphens: auto;
  overflow-wrap: break-word;
}

#post-preview-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-preview {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.post-preview-time-container {
  display: flex;
  gap: 10px;
}

.post-preview-date,
.post-preview-read,
.separator {
  color: hsl(260, 70%, 68%);
}

.post-preview-description p {
  color: #b4cae0;
}

.post-preview header a {
  display: inline-block;
  color: var(--post-title-colour);
}

.post-preview-description p {
  margin: 0;
}

@media (max-width: 768px) {
  #content-container {
    width: 90%;
  }
}
