:root {
  --primary-colour: hsl(192, 100%, 50%);
  --bg-colour: hsl(213.33, 41%, 16%);
  --text-colour: rgb(227, 227, 220);
}

.light-mode {
  --bg-colour: rgb(213, 238, 247);
  --text-colour: black;
  --primary-colour: black;
}

body {
  background-color: var(--bg-colour);
  font-family: "Space Mono", monospace;
  margin: 0;
}

main {
  margin: 0 auto;
  width: 70%;
}

h1,
h2 {
  margin: 0px;
}

a {
  text-decoration: none;
}
